# Configuración General
TIMEZONE=

# Credenciales Base de Datos WordPress
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_ROOT_PASSWORD=

# Dominios
DOMAIN_TRAEFIK=
DOMAIN_HOMEPAGE=
DOMAIN_ADGUARD=
DOMAIN_MEMOS=
DOMAIN_N8N=
DOMAIN_WORDPRESS=
DOMAIN_FILES=
DOMAIN_RSS=
